* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: "Overpass";
    /* font-family: "DM Sans", sans-serif; */
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-grey: hsl(217, 12%, 63%);
    --Medium-grey: hsl(216, 12%, 54%);
    --Dark-blue: hsl(213, 19%, 18%);
    --Very-dark-blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
    /* - White: hsl(0, 0%, 100%)
    - Light Grey: hsl(217, 12%, 63%)
    - Medium Grey: hsl(216, 12%, 54%)
    - Dark Blue: hsl(213, 19%, 18%)
    - Very Dark Blue: hsl(216, 12%, 8%) */
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue);
}

.interactive-card {
    width: 270px;
    height: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--Dark-blue);
}

.card--description-section {
    height: 55%;
}

.card--description-section figure {
    display: flex;
    width: 15%;
    height: 35px;
    border-radius: 20px;
    /*aun no estoy seguro del background color*/
    background-color: hsl(216deg 13.73% 21.59%);
    justify-content: center;
    align-items: center;
}

.card--description-section figure img {
    width: 12px;
}

.card--description-section h1 {
    margin-top: 15px;
    font-size: 22px;
    /* font-family: "Overpass", sans-serif; */
    font-weight: 600;
    color: var(--White);
    letter-spacing: 1px;
}

.card--description-section p {
    margin-top: 6px;
    font-size: 11.5px;
    font-weight: 400;
    color: var(--Medium-grey);
    line-height: 18px;
}