* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: "Overpass", sans-serif;
    /* font-family: "DM Sans", sans-serif; */
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-grey: hsl(217, 12%, 63%);
    --Medium-grey: hsl(216, 12%, 54%);
    --Dark-blue: hsl(213, 19%, 18%);
    --Very-dark-blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
    /* - White: hsl(0, 0%, 100%)
    - Light Grey: hsl(217, 12%, 63%)
    - Medium Grey: hsl(216, 12%, 54%)
    - Dark Blue: hsl(213, 19%, 18%)
    - Very Dark Blue: hsl(216, 12%, 8%) */
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue);
}

.interactive-card {
    width: 280px;
    height: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--Dark-blue);
}

.card__description-section {
    height: 55%;
}

.card__description-section figure {
    display: flex;
    width: 15%;
    height: 35px;
    border-radius: 20px;
    /*aun no estoy seguro del background color*/
    background-color: hsl(216deg 13.73% 21.59%);
    justify-content: center;
    align-items: center;
}

.card__description-section figure img {
    width: 12px;
}

.card__description-section h1 {
    margin-top: 15px;
    font-size: 20px;
    /* font-family: "Overpass", sans-serif; */
    font-weight: 600;
    color: var(--White);
    letter-spacing: 1px;
}

.card__description-section p {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    color: var(--Medium-grey);
    line-height: 18px;
}

.card__form-section {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 15px;
}

.card__input-container {
    display: flex;
    width: 15%;
    height: 30%;
    justify-content: center;
    margin-bottom: 50px;
    background: hsl(216deg 13.73% 21.59%);
    border-radius: 20px; 
    cursor: pointer;
}

.card__input-container:hover {
    background-color: var(--Orange);
}

.input__fields {
    width: 100%;
    visibility: hidden;
}

label {
    position: absolute;
    top: 23%;
    font-size: 12px;
    color: var(--Light-grey);
    cursor: pointer;
}

#button-submit {
    width: 98%;
    height: 40px;
    position: absolute;
    top: 75px;
    border: none;
    border-radius: 20px;
    background: var(--Orange);
    cursor: pointer;
    font-size: 12px;
    font-family: "Overpass", sans-serif;
    color: var(--White);
    letter-spacing: 2px;
}

#button-submit:hover {
    background-color: var(--White);
    color: var(--Orange);
}

/*Tarjeta de agradecimiento*/

.thank-you-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thank-you-card figure {
    width: 100%;
    text-align: center;
}

.thank-you-card figure img {
    width: 53%;
}

.card__rating-selection-container {
    width: 60%;
    height: 25px;
    margin-top: 20px;
    border-radius: 15px;
    align-content: center;
    background: hsl(216deg 13.73% 21.59%);
}

.card__rating-selection-container p {
    font-size: 12px;
    color: var(--Orange);
}

.thank-you-card__thank-you-text {
    margin-top: 20px;
    font-size: 22px;
    color: var(--White);
}

.thank-you-card__thank-you-message {
    margin-top: 12px;
    font-size: 12px;
    color: var(--Medium-grey);
}

.interactive-card--hidden {
    display: none;
}